:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #2f2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  position: fixed;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #0f0f0f98;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #0f0f0f69;
}

input,
button {
  outline: none;
}
#connected_clients {
  float: left;
  background-color: #222222;

  max-width: 165px;
  white-space: nowrap;

  border-left-color: rgb(114, 114, 114);
  border-left-width: 1px;
  border-left-style: solid;

  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#messages-container {
  position: fixed;
  left: 5px;
  right: 5px;
  bottom: 60px;
  top: 5px;

  display: flex;
  clear: both;

  border-color: rgb(114, 114, 114);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
#messages-container > div {
  flex: 1;
}
#client_name {
  margin-top: 0px;
}
#chat-form {
  position: inherit;
  left: 0px;
  margin-left: 5px;
  margin-right: 5px;

  display: flex;
  justify-content: center;

  height: 50px;

  position: fixed;
  margin-top: 10px;
  bottom: 5px;
  width: 100%;
  align-self: center;
}

#fileInput {
  max-width: 40%;
  min-width: fit-content;
  margin-left: 5px;
  white-space: initial;
}
#message-input {
  font-size: 16px;
  margin-right: 5px;
  margin-left: 5px;
  width: 90%;
}
#messages {
  float: left;

  background-color: #1b1b1b;
  display: block;
  word-wrap: break-word;
  text-align: left;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#image-viewer {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 2;

  align-self: center;

  display: none;

  background-color: rgba(0, 0, 0, 0.808);
  width: 100vw;
  height: 100vh;
}
#image-viewer-image {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  max-width: 90vw;
  max-height: 90vh;
}
#close-image-viewer {
  position: inherit;
  right: 10px;
  top: 10px;

  filter: invert(59%) sepia(32%) saturate(7277%) hue-rotate(334deg)
    brightness(102%) contrast(117%);
  transition-duration: 0.1s;
  z-index: 2;
  width: 40px;
  height: 40px;
}
#close-image-viewer:hover {
  filter: invert(31%) sepia(38%) saturate(832%) hue-rotate(314deg)
    brightness(103%) contrast(105%);

  width: 50px;
  height: 50px;

  right: 5px;
  top: 5px;

  cursor: pointer;
}
#file-drop-indicator {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 2;

  align-self: center;

  display: none;

  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;

  transition-duration: 1s;

  background-color: #2f2f2f;

  border-color: rgb(17, 160, 255);
  border-style: solid;
  border-radius: 10px;
}
#file-drop-indicator > center > img {
  width: 100px;
  margin-top: 10px;
}
.chat-img {
  max-height: 350px;
  max-width: 90%;
  margin-left: 5px;
  margin-top: 5px;

  border-radius: 10px;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.chat-img:hover {
  cursor: pointer;
}
.download-button {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.message {
  background-color: #2f2f2f;
  padding: 1px 1px;
  margin: 5px 5px 5px 5px;
  display: block;
  border-radius: 5px;
}
video,
audio {
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 10px;

  max-height: 350px;
  max-width: 90%;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #131313;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #131313;
}
